/* Resets*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
}

/*Globals*/

.container {
    width: 80%;
    margin:auto;
}

.highlight {
    color: white;
}

.text-right{
    text-align: right;
}

/*Navbar*/

#navbar{
    min-height: 76px;
    background: #47B39D;
    color: #FFC153;
    overflow: hidden;
    position:relative;
}
#navbar .nav-items {
    float:right;
    margin-top: 30px
}

#navbar .nav-items .nav-item {
    display: inline;
    font-size: 20px;
    margin-left: 10px;
}

#navbar .nav-items .active a {
    color: #FFC153 !important;
    border-bottom: 1px solid #FFC153;
    
}
#navbar .nav-items .nav-item a {
    text-decoration: none;
    color: white;
    padding: 5px 5px;
}

#navbar .nav-items a:hover {
    color: #DDD;
}

#navbar .brand{
    float: left;
    margin-top: 24px;
}

/* Slide In Menu */


#slide-menu {
    width: 0px;
    height: 100%;
    overflow: hidden;
    background: #FFC153;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

#slide-menu.open {
    width: 250px;
}

#slide-menu .menu-title{
    width: 100%;
    font-size: 24px;
    color:#47B39D;
    margin:10px 0 25px 0 ;
}
#slide-menu .menu-items{
    list-style-type: none;
}
#slide-menu .menu-item {
    width: 100%;
    font-size: 20px;
    color:#47B39D;
    text-decoration: none;
    margin:10px 0 10px 0 ;
}

#close-btn {
    background: none;
    border: none;
    color: #47B39D;
    font-size: 18px;
    margin-top: 15px;
}

#menu-btn {
    position: absolute;
    top: 26px;
    left: 15px;
    background: none;
    border: none;
    color: #FFC153;
    font-size: 18px;
}

#menu-btn:focus, #close-btn:focus {
  outline: none;
}

#menu-btn:hover, #close-btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {

    #navbar .brand, #navbar .nav-items {
        float:none;
        text-align: center;
        /*display: block*/
    }

    #navbar .nav-items {
        margin: 15px 0;
    }

    #navbar .nav-items a {
        font-size: 16px;
    }
}

